.autocomplete_list * {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	color:#FFFFFF;
	background-color:#4A566E;
}

.autocomplete_list b {
	font-weight: bold;
	background-color:#4A566E;	
	color:#CCFF00;
}

.autocomplete_list { 
	background: #4A566E; display: block;
	border:2px solid #A9BEC7;	
	text-align: left; z-index: 200; 
	scrollbar-base-color:#4A566E;
	scrollbar-track-color:#4A566E;
	scrollbar-face-color:#CCCCCC;
	scrollbar-shadow-color:#CCCCCC;
	scrollbar-highlight-color:#CCCCCC;
	scrollbar-3dlight-color:#CCCCCC;
	scrollbar-darkshadow-color:#CCCCCC;			
}

.autocomplete_list, .autocomplete_list ol, .autocomplete_list li { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}

.autocomplete_list li { 
	margin: 0; 
	text-align: left;
	cursor: pointer; 
	padding: 4px;
/*	border-bottom: 1px solid #4A566E;	*/
}

.autocomplete_list .last_item { 
	border: none;	
}

.autocomplete_list .current_item { 
	background: #636F89; color: #FFFFFF; 
}

.autocomplete_list span { 
	color: #111; float: right; padding-left: 2em; 
}

.autocomplete_icon { 
	background-image: url(autocomplete.gif);	
	cursor: pointer;
	cursor: hand;	
}